.subfooter {
  height: 441px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #21252e;
  text-align: center;
}

.subfooter-container {
  width: 1140px;
}

.subfooter h2 {
  font-size: 42px;
  font-weight: 600;
  font-family: "Overpass", sans-serif;
  padding: 15px;
}

.subfooter p {
  font-size: 28px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 42px;
  margin-bottom: 50px;
}

.subfooter a {
  font-size: 18px;
  margin: 2vh 2vw;
  background-color: #fe0146;
  border: 2px solid #fe0146;
  padding: 2vh 2vw;
  border-radius: 2vw;
}
